<div class="col-md-6 col-xl-3">
  <div class="container py-5 text-center">
  <%= link_to user_path(user), class: "text-light text-decoration-none" do %>
    <div class="image">
      <!--   <%= image_pack_tag "300x300.png", class: "rounded-circle", size: "200x200" %>  -->
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, size: "100x150" %>
      <% else %>
        <%= image_pack_tag "300x300.png", class: "rounded-circle", size: "200x200" %>
      <% end %>
    </div>
    <div class="text-warning name-control">
      <%= user.name %>
    </div>
    <% if user.profile.present? && user.profile.message.present? %>
      <div class="text-overflow">
        <%= user.profile.message.truncate(20) %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>