<div class="container p-5 text-white">
  <div class="border border-white p-5">
    <div class="top-title amongus-font text-center">
      Profile
    </div>
    <%= form_with model: @user_form, url: user_path(current_user.id), method: :put, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="col-6 text-center">
          <div class="image">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, id: "preview", size: "200x250" %>
            <% else %>
              <%= image_pack_tag "300x300.png", alt: "preview", size: "200x250" %>
            <% end %>
            <div>
              <%= f.file_field :image, class: 'form-control mt-5' %>
            </div>
          </div>
          <%= link_to "Back", user_path(current_user), class: 'btn btn-dark btn-lg my-3 border-white' %>
        </div>
        <div class="col-6">
          <%= f.hidden_field :id, class: 'form-label', value: current_user.id %>

          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control mb-5', value: current_user.name %>

          <%= f.label :message, class: 'form-label' %>
          <% if current_user.profile %>
            <%= f.text_area :message, class: 'form-control mb-5', value: current_user.profile.message %>
          <% else %>
            <%= f.text_area :message, class: 'form-control mb-5', placeholder: 'メッセージを一言。' %>
          <% end %>
          <%= f.label :mattermost_times_url, class: 'form-label' %>
          <% if current_user.profile && current_user.profile.mattermost_times_url.present? %>
            <%= f.text_field :mattermost_times_url, class: 'form-control mb-5',  value: current_user.profile.mattermost_times_url %>
          <% else %>
            <%= f.text_field :mattermost_times_url, class: 'form-control mb-5', placeholder: "https://chat.runteq.jp/runteq/channel" %>
          <% end %>
          <%= f.submit "Registration", class: 'btn btn-dark btn-lg my-3 border-white' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
