<div class="container p-5 text-white">
  <div class="border border-white p-5">
    <div class="top-title amongus-font text-center">
      Profile
    </div>
    <div class="row">
      <div class="col-6 text-center">
        <div class="image">
          <!--   <%= image_pack_tag "300x300.png" %>   -->
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, size: "100x150" %>
          <% else %>
            <%= image_pack_tag "300x300.png" %>
          <% end %>
        </div>
        <%= link_to "Back", root_path, class: 'btn btn-dark btn-lg my-3 border-white' %>
        <% if logged_in? && current_user.id == @user.id %>
          <%= link_to "Edit", edit_user_path(current_user.id), class: 'btn btn-dark btn-lg my-3 border-white' %>
        <% end %>
      </div>
      <div class="col-6">
        <p class="text-danger">name</p>
          <p class="mb-5">
            <%= @user.name %>
          </p>
        <p class="text-danger">message</p>
        <% if @user.profile.present? %>
          <%= simple_format(@user.profile.message, class: "mb-5") %>
          <% else %>
          <p>よろしくお願いします。</p>
        <% end %>
        <p class="text-danger">mattermost_times_url</p>
          <p class="mb-5">
          <% if @user.profile.present? %>
              <%= link_to "#{@user.name}さんのマタモ", @user.profile.mattermost_times_url %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
