<!DOCTYPE html>
<html>

<head>
  <title>AmongUse</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8E0DH1JYWW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8E0DH1JYWW');
  </script>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <%= stylesheet_link_tag 'https://unpkg.com/swiper/swiper-bundle.css' %>
  <%= stylesheet_link_tag 'https://unpkg.com/swiper/swiper-bundle.min.css' %>
  <%= javascript_include_tag 'https://unpkg.com/swiper/swiper-bundle.js' %>
  <%= javascript_include_tag 'https://unpkg.com/swiper/swiper-bundle.min.js' %>
</head>

<body>
  <%= render "layouts/header" %>
  <% if flash.any? %>
    <%= render "shared/flash_message" %>
  <% end %>
  <%= yield %>
  <%= render "layouts/footer" %>
</body>

</html>