<!DOCTYPE html>
<html>

<head>
  <title>AmongUse</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <%= stylesheet_link_tag 'https://unpkg.com/swiper/swiper-bundle.css' %>
  <%= stylesheet_link_tag 'https://unpkg.com/swiper/swiper-bundle.min.css' %>
  <%= javascript_include_tag 'https://unpkg.com/swiper/swiper-bundle.js' %>
  <%= javascript_include_tag 'https://unpkg.com/swiper/swiper-bundle.min.js' %>
</head>

<body>
  <%= render "layouts/header" %>
  <% if flash.any? %>
    <%= render "shared/flash_message" %>
  <% end %>
  <%= yield %>
  <%= render "layouts/footer" %>
</body>

</html>